.div-explainer {
  width: 50%;
  height: 15%;
  margin: auto;
  background-color: rgba(0, 0, 255, 0.5);
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px; 
}

.div-post {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: auto;
  width: 50%;
} 

.div-para {
  color: grey;
  font-size: small;
}

.div-post > * {
  flex-grow: 1;
}

.div-comments {
  position: absolute;
  background-color: grey;
  z-index: 1;
  top: 0;
  left: 0;
}

.video-review {
  height: 10%;
  margin: auto;
  background-color: grey;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px; 
  border-radius: 10px;
}

.warning {
  color: red
}